<div class="container">
  <div class="row">
    <div class="col-9">
      <h6>
        <strong>Documents</strong>
      </h6>
    </div>
    <div class="col-9">
      <h6>
        <strong>Search document or select category</strong>
      </h6>
    </div>
    <div class="col-4">
      <ul class="nav flex-column">
        <li class="nav-item" *ngFor="let link of links">
          <a class="nav-link" [ngClass]="searchCategoryName === link ? 'active': ''" (click)="onClick($event)" href="#">{{link}}</a>
        </li>
      </ul>
    </div>
    <div class="col-8">
      <input name="search" [(ngModel)]="searchText" autocomplete="off" class="form-control textWidth" placeholder="Start typing document name...">
      <div class="row paddingBorder">
        <div class="col-2 alignBorder" *ngFor="let document of documentName | filter:searchText">
          <div class="alignCategoryName">
            {{ document.category }}
          </div>
          <div class="alignDocumentName">
            {{ document.documentName }}
          </div>
        </div>
      </div>
    </div>
  </div>


</div>